Button{
    -fx-background-color: linear-gradient(to bottom right, #6060db, #1111d2);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}
Button:hover{
    -fx-background-color: linear-gradient(to bottom right, #8282eb, #1c1ccd);
}

TextField{
    -fx-border-color: #000;
    -fx-border-width: .5px;
}
TextField:focused{
    -fx-border-color: linear-gradient(to bottom right, #16a47c, #2a827b);
    -fx-border-width: .8px;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #6060db, #1111d2);
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}